.custom_menu {
  position: absolute;
  padding: 5px;
  z-index: 999999;
  box-shadow: '0px 8px 16px 0px rgba(0,0,0,0.2)';
  border-radius: 10px;
  background-color: black;
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none !important;
    li {
      font-size: 14px;
      list-style: none !important;
      padding: 5px !important;
      color: rgb(172, 172, 172);
      border-radius: 5px;
      &:hover {
        background-color: white;
        color: black;
        cursor: pointer;
      }
    }
  }
}
