.translate {
  padding: 0px;
  span.close {
    display: none;
    position: absolute;
    right: 10px;
    bottom: -2px;
  }
  span.end {
    display: inline-block;
    margin-left: 10px;
    font-size: 18px;
    color: grey !important;
  }
  &:hover {
    cursor: pointer;
    background: transparent !important;
    position: relative;
    span.close {
      display: inline-block;
      color: rgb(40, 40, 40);
      font-size: 18px !important;
      &:hover {
        cursor: pointer;
      }
    }
    span.end {
      display: none;
    }
  }

  .result {
    background: transparent !important;
    position: relative;
    .loading {
      color: rgb(13, 13, 14) !important;
      font-weight: 700;
    }
  }

  .error {
    padding: 10px;
    background-color: white;
    font-size: 16px;
    color: red;
    font-weight: 600;
    border: solid 1px grey;
    position: relative;
  }
}
