.translate {
  padding: 0px;
  span.close {
    display: none;
    margin-left: 10px;
  }
  span.end {
    display: contents;
    margin-left: 10px;
    font-size: 18px;
    color: grey !important;
  }
  &:hover {
    cursor: pointer;
    background-color: white;
    color: black !important;
    position: relative;
    span.close {
      display: contents;
      color: rgb(97, 96, 96);
      font-size: 18px !important;
      &:hover {
        color: black;
        cursor: pointer;
      }
    }
    span.end {
      display: none;
    }
  }
}
