.settings {
  padding: 2px;
  width: 100%;
  .title {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 15px;
  }
  .content {
    padding: 5px 15px;
    position: relative;
    ul {
      width: 100%;
      display: table;
      padding: 0px;
      margin: 0px;
      list-style: none;
      li {
        width: 100%;
        display: table-row;
        span {
          display: table-cell;
          box-sizing: border-box;
          padding: 10px 0px;
          img {
            cursor: pointer;
          }

          label {
            margin-right: 10px;
          }

          &.dualLabel {
            display: flex;
            flex-direction: column;
            gap: 8px;
            .labelgroup {
              display: flex;
              align-items: center;
              gap: 10px; 
              label {
                display: flex;
                align-items: center;
                margin-right: 0; 

                &:first-child {
                  flex-shrink: 0;
                }

                input, select {
                  margin-left: 0px;
                }

                select {
                  width: 110px;
                }
              }
            }
          }

          p {
            padding: 0px 0px;
          }
        }
        span:first-child {
          width: 180px;
          font-size: 14px;
        }
        input[type="text"], input[type="password"], input[type="email"], select {
          font-size: 14px;
          width: 100%;
          // max-width: 90% !important;
          padding: 8px 8px;
          border-radius: 5px;
          border: solid 1px grey;
          box-sizing: border-box;
        }
        button {
          font-size: 14px;
          width: 100px;
          padding: 8px 8px;
          border-radius: 5px;
          border: solid 2px #0550ae;
          box-sizing: border-box;
          background-color: #0550ae;
          color: white;
          cursor: pointer;
        }
        button:disabled {
          border: solid 2px grey;
          background-color: grey;
          cursor: not-allowed;
        }
        .models {
          width: 100%;
          // max-width: 90% !important;
          display: flex;
          justify-content: space-between;
          select {
            width: 100%;
          }
          select:first-child {
            width: 70%;
            margin-right: 10px;
          }
        }
        span.tooltip {
          color: grey;
        }
      }
    }
    .howToUse {
      position: absolute;
      bottom: 18px;
      right: 15px;
      a {
        text-decoration: none;
        cursor: pointer;
        color: rgb(99, 99, 99);
        font-size: 14px;
        &:hover {
          color: blue;
        }
      }
    }
    .contactUs {
      position: absolute;
      bottom: 18px;
      right: 130px;
      a {
        text-decoration: none;
        cursor: pointer;
        color: rgb(99, 99, 99);
        font-size: 14px;
        &:hover {
          color: red;
        }
      }
    }
  }

  .divider {
    position: relative;
    padding: 10px 15px;
    background-color: #f0f0f0;
    color: #333;
  }
  
  .divider::after {
    content: '';
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    height: 1px;
    background: linear-gradient(
      to right,
      transparent,
      rgba(0, 0, 0, 0.3) 10%,
      rgba(0, 0, 0, 0.3) 90%,
      transparent
    );
  }
}
