.__translator_translate_container__ {
  margin: 10px 0px;
}

.__selected_words_marker__ {
  background-color: rgb(236, 250, 47) !important;
  padding: 2px 3px !important;
  border-radius: 6px !important;
}
