.__translator_translate_container__ {
  margin: 11px 0px !important;
}

#__translator_poptip_container__ {
  position: relative !important;
}

.__translator_hovered_element__ {
  background-color: #f8ecc3 !important;
  opacity: 0.8 !important;
  cursor: move !important;
}

